body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: "Arial", "Helvetica", sans-serif;
    text-align: center;
    background-color: #f5f5f5; /* Light background color for a clean look */
    color: #333; /* Dark text color for readability */
}

.central-textlogo {
    display: flex;
    flex-direction: column-reverse; /* This reverses the order of the children */
    align-items: center;
}

.central-featured-logo {
    margin-top: 20px;
}

h1.central-textlogo-wrapper {
    margin: 0;
    font-family: "Linux Libertine", "Georgia", "Times", serif;
}

.central-textlogo__image {
    display: block;
    font-size: 2em; /* Adjust font size as needed */
}

.localized-slogan {
    display: block;
    font-size: 1.2em; /* Adjust font size as needed */
    margin-top: 10px; /* Adjust spacing as needed */
}