<div class="headerLinks">
    <span class="user">Not logged in</span> <a href="#">Talk</a> <a href="#">Contributions</a> <a href="#">Create account</a> <a href="#">Log in</a>
</div>
<div class="tabs clearfix">
    <div class="tabsLeft">
        <ul>
            <li><a href="#" class="active">Article</a></li>
            <li><a href="#">Talk</a></li>						
        </ul>
    </div>
    <div id="simpleSearch">
        <input type="text" name="searchInput" id="searchInput" placeholder="Search Wikipedia" size="12" />
        <div id="submitSearch"></div>
    </div>
    <div class="tabsRight">
        <ul>
            <li><a href="#" class="active">Read</a></li>
            <li><a href="#">View source</a></li>						
            <li><a href="#">View history</a></li>						
        </ul>
    </div>
</div>